body {
    margin: 0;
    text-align: center;
    color: #f3f0d4;
    font-family: "Lilita One", sans-serif;
}

img {
    width: 100px;
}

#hero {
    background-image: url(images/milwaukee.png);
    background-size: cover;
    height: 550px;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 4px black;
}

#heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    font-size: larger; 

}

#hero-title {
    background:#4eb6c3;
    padding: 2px 20px;
    border-radius: 50px;
}

#hero-quote {
    background: #4eb6c3;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0;
}

#activities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#middle-section {
    height: 500px;
    padding-top: 10px;
    background: #4b8c7f;
}

#middle-title {
    display: flex;
    justify-content: center;
    margin: 50px 0px 100px 0px;
    font-size: x-large;
}

.middle-imgs {
    border-radius: 50px;
    width: 150px;
    height: 120px;
}

#activities-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 130px; */
    padding: 0 40px;
}

.larger-text {
    font-size: large;
}

.middle-align {
    margin: 0 45px;
}